<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Remind password</title>
    <link rel="icon" type="image/png" th:href="@{/webjars//open-iconic/1.1.1/png/dashboard-4x.png}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/main.css" rel="stylesheet" media="screen" th:href="@{/resources/css/main.css}" />
</head>
<body>
<form class="form-narrow form-horizontal" action="#" method="post"  th:object="${remindPasswordForm}" th:action="@{/remindPassword}">
    <fieldset>
        <legend>Please introduce your email</legend>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="username" th:field="*{email}" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Send mail with password</button>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>